.main-layout {
    display: flex;
    min-height: 100vh;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    background-color: #e3e4e6;
    overflow-y: auto;
}

@media screen and (max-width: 1024px) {
    .main-content {
        margin-left: 60px;
    }
}
