.main-layout {
    display: flex;
    min-height: 100vh;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    background-color: #f1f5f9;
    overflow-y: auto;
}
